1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system,'
f= open("test.txt","w")
f.write(test1)
f.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [11]:
file = open("test.txt","r")
test2 = file.read()
print("test1 is :",test1)
print("test2 is :",test2)
if test1 == test2:
    print("test1 and test2 variables have same data")

test1 is : This is a test of the emergency text system,
test2 is : This is a test of the emergency text system,
test1 and test2 variables have same data

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [18]:
import csv  

header = ['Title', 'Author', 'Year']
data =[
       {'Title':'The Weirdstone of Brisingamen',
        'Author':'Alan Garner',
        'Year': 1960
       },
       {'Title': 'Perdido Street Station',
        'Author': 'China Miéville',
        'Year' : 2000
       },
       {'Title': 'Thud!',
        'Author': 'Terry Pratchett',
        'Year' : 2005
       },
       {'Title': 'The Spellman Files',
        'Author': 'Lisa Lutz',
        'Year' : 2007
       },
       {'Title': 'Small Gods',
        'Author': 'Terry Pratchett',
        'Year' : 1992
       },
       ]

with open('books.csv', 'w', encoding='UTF8', newline='') as f1:
    writer = csv.DictWriter(f1, fieldnames=header)

    # write the header
    writer.writeheader()

    # write the data
    writer.writerows(data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [12]:
import sqlite3
conn = sqlite3.connect('books.db')
print("Opened database successfully");

conn.execute('''create table books
                (title Text,
                 author Text,
                 year Int);''')
print("Table created successfully");
conn.close()

Opened database successfully
Table created successfully

5. Read books.csv and insert its data into the book table.

In [20]:
import sqlite3
conn = sqlite3.connect('books.db')
print("Opened database successfully");

conn.execute("INSERT INTO BOOKS(title,author,year) VALUES ('The Weirdstone of Brisingamen', 'Alan Garner', 1960 )");
conn.execute("INSERT INTO BOOKS (title,author,year) VALUES ('Perdido Street Station','China MiÃ©ville',2000)");
conn.execute("INSERT INTO BOOKS (title, author, year)VALUES ('Thud!','Terry Pratchett',2005)");
conn.execute("INSERT INTO BOOKS (title, author, year)VALUES ('The Spellman Files','Lisa Lutz',2007)");

conn.commit()
print("Records added to database successfully");
conn.close()

Opened database successfully
Records added to database successfully

6. Select and print the title column from the book table in alphabetical order.

In [25]:
conn = sqlite3.connect('books.db')
print("Opened database successfully");

cursor = conn.execute("SELECT title FROM books ORDER BY title asc")
for rows in cursor:
    print("title is:-",rows[0],"\n")

    
conn.close()

Opened database successfully
title is:- Perdido Street Station

title is:- The Spellman Files

title is:- The Weirdstone of Brisingamen

title is:- Thud!

In [11]:
import sqlite3
conn = sqlite3.connect('books.db')
print("Opened database successfully");
cursor = conn.cursor()
dropTableStatement = "DROP TABLE books"
cursor.execute(dropTableStatement)
conn.close()
print("Deleted database successfully");

Opened database successfully
Deleted database successfully

7. From the book table, select and print all columns in the order of publication.

In [29]:
import sqlite3
conn = sqlite3.connect('books.db')
print("opened Database successfully");
cursor= conn.execute('SELECT year FROM books ORDER BY year asc')
for rows in cursor:
    print(rows[0])

opened Database successfully
1960
2000
2005
2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [33]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute("select * from books")
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [34]:
pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: packaging>=20.4 in d:\anaconda\lib\site-packages (from redis) (21.3)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in d:\anaconda\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\anaconda\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4
Note: you may need to restart the kernel to use updated packages.

In [35]:
!pip install redis

Requirement already satisfied: redis in d:\anaconda\lib\site-packages (4.3.4)
Requirement already satisfied: packaging>=20.4 in d:\anaconda\lib\site-packages (from redis) (21.3)
Requirement already satisfied: async-timeout>=4.0.2 in d:\anaconda\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: deprecated>=1.2.3 in d:\anaconda\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: wrapt<2,>=1.10 in d:\anaconda\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\anaconda\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)